html
    body
        form(action="/login" method="post")
            label(for="name") Email
            input(type="text", name="email", required)
            label(for="password") Password
            input(type="password", name="password", required)
            input(type="submit", value="S'inscrire")
