doctype html
html
    head
        title SignUp
        meta(charset="utf-8")
    body
        h1 SignUp
        form(action="/user", method="post")
            label(for="email") Email 
            input(type="text", name="email", required)
            br 
            br
            label(for="username") Username 
            input(type='text', name="username", required)
            br
            br
            label(for="password") Password
            input(type="password", name="password", required)
            br
            br
            input(type="submit", value="Créer un utilisateur")