doctype html
html
    head
        title SignUp
        meta(charset="utf-8")
    body
        h1 SignUp
        form(action="/userTmp", method="post")
            input(type='email', name="email")
            input(type="password", name="password")
            input(type="submit", value="Créer un utilisateur")